

.input-group {
    margin: 15px 0;
    input {
        margin-right: 10px;
        padding: 3px 7px;
        text-overflow: ellipsis;
    }
}

.panel-heading.card-header {
    background-color: #faebcc;
}